body {
  font-family: Roboto, Arial;
  padding-top: 140px;
  padding-bottom: 100px;
}

@media (max-width: 1000px) {
  body main {
    max-width: 500px;
  }

  main .cart-product-grid {
    grid-template-columns: 1fr;
  }

  .order-summary {
    grid-row: 1;
    margin-bottom: 10px;
  }

  .cart-product-container .cart-product {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  .delivery-info {
    grid-column: span 2;
  }
}

main {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-product-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 14px;
}

.cart-product-container {
  /* height: 240px; */
  padding: 26px 18px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  margin-bottom: 10px;
}

.delivery-date-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 26px;
  color: rgb(0, 167, 0);
}

.cart-product {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  gap: 26px;
}

.product-image {
  height: 100px;
}

.product-info {
  flex: 1;
}

.product-title,
.product-price,
.delivery-option-title,
.delivery-option-container {
  margin-bottom: 8px;
}

.product-title,
.delivery-option-title {
  font-weight: bold;
}

.product-price {
  font-weight: bold;
  color: rgb(210, 53, 0);
}

.quantity-updation {
  display: flex;
  gap: 8px;
}

.update-link,
.delete-link {
  color: rgb(0, 167, 200);
  cursor: pointer;
}

.update-link:hover,
.delete-link:hover {
  color: rgb(200, 10, 0);
}

.delivery-option-container {
  display: flex;
  align-items: center;
}

.delivery-option-button {
  height: 20px;
  width: 20px;
}

.delivery-option-date {
  font-weight: bold;
  color: rgb(0, 167, 0);
  margin-bottom: 4px;
}

.delivery-shipping-fee {
  font-size: 14px;
  color: rgb(168, 168, 168);
}

.order-summary {
  padding: 26px 16px;
  border-radius: 4px;
  height: 300px;
  border: 1px solid rgb(211, 211, 211);
}

.order-summary-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}

.items-price,
.shipping-price,
.before-tax-price,
.estimated-tax,
.total-price {
  display: flex;
  justify-content: space-between;
}

.line-one {
  width: 16%;
  margin-right: 0;
  border: 0;
  border-top: 1px solid rgb(211, 211, 211);
}

.line-two {
  margin-right: 0;
  border: 0;
  border-top: 1px solid rgb(211, 211, 211);
}

.paypal-payment {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.items-price,
.before-tax-price,
.paypal-payment {
  margin-bottom: 10px;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(210, 53, 0);
  margin-top: 16px;
}

.order-button {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(255, 220, 0);
  border: none;
  border-radius: 4px;
  margin-top: 14px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.order-button:hover {
  background-color: rgb(255, 210, 0);
}

