.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-preview {
  border-right: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
  /* border: 1px solid red; */
}

.product-info {
  /* border: 1px solid green; */
  margin: 22px;
}

.product-image-container {
  /* text-align: center; */
  /* width: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin: 40px 30px 10px 30px;
  /* border: 1px solid green; */
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  /* border: 1px solid blue; */
}

.product-title {
  /* width: 160px; */
  height: 40px;
  line-height: 20px;
  margin-bottom: 12px;
  /* border: 1px solid blue; */
}

.limit-to-2-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-rating-container {
  display: grid;
  grid-template-columns: 100px 20px;
  align-items: flex-end;
  column-gap: 10px;
  margin-bottom: 16px;
  /* border: 1px solid red; */
}

.product-rating-image {
  width: 100%;
  /* vertical-align: middle; */
  /* border: 1px solid blue; */
}

.product-rating-count {
  display: inline-block;
  color: rgb(90, 90, 222);
  /* border: 1px solid blue; */
}

.product-price {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 14px;
  /* border: 1px solid blue; */
}

#product-quantity {
  display: block;
  background-color: rgb(231, 231, 231);
  padding: 4px;
  border-radius: 7px;
  border-color: rgb(186, 186, 186);
  margin-bottom: 40px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.15);
}

.add-to-cart-button {
  /* display: block; */
  /* text-align: center; */
  /* padding-left: 66px;
  padding-right: 65px; */
  background-color: rgb(249, 223, 75);
  width: 100%;
  height: 32px;
  min-width: 100px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}